
<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-3 mx-3 mt-3">
        <app-edit></app-edit>
    </div>
    <div class="col-md-8 mt-3">
        <p><strong>Copy and paste</strong> this code inside your website's html before the body tag.</p>
        <input type="text" style="width:70%; height:70%"><br><br>
        <p>If you need a developer to add this you can email them the code and instructions.</p>
        <input type="text" style="width: 70%;"><br><br>
        <p><strong>API KEY : </strong></p>
        <p class="text-muted" style="font-size: 14px;">
            For some integrations (i.e. WordPress plugin) you need this key.
        </p>
        <input type="text" style="width: 70%;">
    </div>
</div>
