
<div class="sidenav">
  <a routerLink="private-settings"
    style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Settings</a><br><br>
  <a routerLink="notifications"
    style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Notifications</a><br><br>
  <a routerLink="integrations"
    style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Integrations</a><br><br>
</div>