<app-navbar></app-navbar>
<h4 style="padding-left: 20px;" class="mt-2">Settings : </h4>
<hr>
<div class="row">
    <div class="col-md-4">
        <app-settings-sidebar></app-settings-sidebar>
    </div>
    <div class="col-md-8">
        <label for="Name"><strong>Name : </strong></label><br>
        <input type="text" placeholder="Name"><br><br>
        <label for="Username"><strong>Username : </strong></label><br>
        <input type="text" placeholder="Username"><br><br>
        <label for="email"><strong>Email : </strong></label><br>
        <input type="email" placeholder="Email">
        
    </div>
</div>
