
<div class="sidenav" >
    <a routerLink="site-settings"
      style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Settings</a><br><br>
    <a routerLink="embed"
      style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Javascript embed</a><br><br>
    <a routerLink="users"
      style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Users</a><br><br>
      <a routerLink="pages"
      style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Pages</a><br><br>
      <a routerLink="exports"
      style="color: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 10px;">Exports</a><br><br>
  </div>

